<div class="row" style="margin-bottom: 100px;">
  <div class="container">
    <div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
      <div class="d-flex align-items-center mr-auto">
        <i id="i" class="{{iconClass}} mr-3"></i>
        <div class="lh-100">
          <h2 class="mb-0">Apartamentos</h2>
          <small>{{ subtitulo }}</small>
        </div>
      </div>
      <div class="p-3">
        <button class="btn btn-outline-light" (click)="listar()">
          Lista Apartamentos
        </button>
      </div>
    </div>
    <div class="card rounded shadow-sm">
      <form [formGroup]="form">
        <div class="p-3">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Número: </label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.numero)" formControlName="numero"
              placeholder="" >
              <div *ngIf="f.numero.errors?.required" class="invalid-feedback">
                Número é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Andar: </label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.andar)" formControlName="andar"
              placeholder="" >
              <div *ngIf="f.andar.errors?.required" class="invalid-feedback">
                Andar é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Tamanho: </label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.tamanho)" formControlName="tamanho" placeholder="" >
              <div *ngIf="f.tamanho.errors?.required && f.tamanho.touched" class="invalid-feedback">
                Tamanho é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Catégoria:  </label>
              <select [(ngModel)]="apartamento.categoria" class="form-control" formControlName="categoria" [ngClass]="cssValidator(f.categoria)">
                <option selected>Selecione uma catégoria</option>
                <option value="Duplo Deluxe">Duplo Deluxe</option>
                <option value="Individual Deluxe">Individual Deluxe</option>
                <option value="Suíte de Lua de Mel">Suíte de Lua de Mel</option>
                <option value="Econômico Duplo">Econômico Duplo</option>
                <option value="Suite Master">Suite Master</option>
                <option value="Suíte Núpsia">Suíte Núpsia</option>
                <option value="Suíte Super Luxo">Suíte Super Luxo</option>
                <option value="Suíte P.N.E">Suíte P.N.E</option>
              </select>
              <div *ngIf="f.categoria.errors?.required && f.categoria.touched" class="invalid-feedback">
                Catégoria é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Imagem: </label>
              <input type="text" class="form-control" formControlName="imagem" placeholder="">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
              Cancelar
            </button>
            <button class="btn btn-success" (click)="cadastrarApartamento()">
              Salvar Apartamento
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>

