<div class="container" style="margin-bottom: 100px;">
  <div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
    <div class="d-flex align-items-center mr-auto">
      <i id="i" class="{{iconClass}} mr-3"></i>
      <div class="lh-100">
        <h2 class="mb-0">Pedidos</h2>
        <small>{{ subtitulo }}</small>
      </div>
    </div>
    <div class="p-3">
      <button class="btn btn-outline-light" (click)="navegar()">
        Retornar ao Menu
      </button>
    </div>
  </div>
  <div class="card rounded shadow-sm p-3">
    <div class="d-flex">
      <div class="flex-fill pr-3">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Filtro: </div>
          </div>
          <input
          type="text"
          class="form-control"
          placeholder="Filtrar">
        </div>
      </div>
      <div>
        <a class="d-flex btn btn-outline-primary" routerLink="/registrar-pedido">
          <i class="fa fa-plus-circle my-1"></i>
          <b class="ml-1 d-none d-sm-block">Registrar Novo Pedido</b>
        </a>
      </div>
      </div>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Nome do Produto</th>
          <th class="d-none d-md-table-cell">Quantidade</th>
          <th class="d-none d-md-table-cell">Hospede</th>
          <th>Número do Apartamento</th>
          <th class="d-none d-md-table-cell">Valor Total</th>
          <th>Opções</th>
        </tr>
     </thead>
    <tbody *ngIf="pedidos && pedidos.length">
      <tr *ngFor="let pedido of pedidos" style="cursor: pointer;">
        <td>{{pedido.id}}</td>
        <td class="d-none d-md-table-cell">{{pedido.nomeProduto}}</td>
        <td>{{pedido.qtdProduto}}</td>
        <td class="d-none d-md-table-cell">{{ pedido.nomeHospede }}</td>
        <td class="d-none d-md-table-cell">{{pedido.numeroApartamento}}</td>
        <td class="d-none d-md-table-cell">{{ pedido.valorTotal | currency : 'BRL' }}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editar(pedido.id)" style="margin-right: 5px;">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluir(pedido.id)" style="margin-right: 5px;">
              <i class="fa fa-trash"></i>
            </button>
            <button tooltip="Registrar Pedido" (click)="modalRegistrarPedido(template2, pedido)" class="btn btn-sm btn-warning">
              <i class="fas fa-money-bill-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!pedidos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum pedido encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
  </div>
  <ng-template #template2>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Registrar Pedido</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" class="p-1">
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label>Data Compra:</label>
            <input type="datetime" class="form-control" [ngClass]="cssValidator(f.dataCompra)"
            bsDatepicker [bsConfig]="bsConfig" formControlName="dataCompra"
            placeholder="" >
            <div *ngIf="f.dataCompra.errors?.required && f.dataCompra.touched" class="invalid-feedback">
              Data é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label>Produto:</label>
            <input type="text" class="form-control" formControlName="nomeProduto"
              [ngClass]="{'is-invalid': f.nomeProduto.errors && f.nomeProduto.touched}"/>
            <div class="invalid-feedback">
              Produto é obrigatório.
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label>Quantidade:</label>
            <input type="text" class="form-control" formControlName="qtdProduto"
              [ngClass]="{'is-invalid': f.qtdProduto.errors && f.qtdProduto.touched}"/>
            <div class="invalid-feedback">
              Forma de Pagamento é obrigatório.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Valor:</label>
            <input type="text" class="form-control" formControlName="valorTotal" placeholder="" [ngClass]="cssValidator(f.valorTotal)">
            <div *ngIf="f.valorTotal.errors?.required && f.valorTotal.touched" class="invalid-feedback">
              Valor é obrigatório.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Apartamento:</label>
            <input type="text" class="form-control" formControlName="numeroApartamento" placeholder="" [ngClass]="cssValidator(f.numeroApartamento)">
            <div *ngIf="f.numeroApartamento.errors?.required && f.numeroApartamento.touched" class="invalid-feedback">
              Apartamento é obrigatório.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <button class="btn btn-lg btn-danger btn-block px-5" (click)="modalRef?.hide()">
              Cancelar
            </button>
          </div>
          <div class="form-group col-6">
            <button class="btn btn-lg btn-success btn-block px-5" (click)="registrarConta()">
              Registrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja fechar a conta?</p>
      <button type="button" class="btn btn-default">Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
  </ng-template>
</div>
