<div class="container">
  <div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
    <div class="d-flex align-items-center mr-auto">
      <i id="i" class="{{iconClass}} mr-3"></i>
      <div class="lh-100">
        <h2 class="mb-0">Hospedes</h2>
        <small>{{subtitulo}}</small>
      </div>
    </div>
    <div class="p-3">
      <button class="btn btn-outline-light" (click)="menu()">
        Retornar ao Menu
      </button>
    </div>
  </div>
  <div class="card rounded shadow-sm p-3" style="margin-bottom: 100px;">
    <div class="d-flex">
      <div class="flex-fill pr-3">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Filtro: </div>
          </div>
          <input
          type="text"
          class="form-control"
          placeholder="Filtrar por Nome ou CPF"
          >
        </div>
      </div>
      <div>
        <a class="d-flex btn btn-outline-primary" routerLink="/nova-reserva">
          <i class="fa fa-plus-circle my-1"></i>
          <b class="ml-1 d-none d-sm-block">Nova Reserva</b>
        </a>
      </div>
      </div>
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th class="d-none d-md-table-cell">CPF</th>
          <th class="d-none d-md-table-cell">Telefone</th>
          <th class="d-none d-md-table-cell" >Celular</th>
          <th class="d-none d-md-table-cell" >Email</th>
          <th>Opções</th>
        </tr>
     </thead>
    <tbody *ngIf="hospedes && hospedes.length">
      <tr *ngFor="let hospede of hospedes" style="cursor: pointer;">
        <td>{{hospede.id}}</td>
        <td>{{hospede.nome}}</td>
        <td class="d-none d-md-table-cell">{{hospede.cpf}}</td>
        <td>{{hospede.telefone}}</td>
        <td class="d-none d-md-table-cell">{{hospede.celular}}</td>
        <td class="d-none d-md-table-cell">{{hospede.email}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-sm btn-success" tooltip="Editar" (click)="editar(hospede.id)" style="margin-right: 5px;">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluir(hospede.id)" style="margin-right: 5px;">
              <i class="fa fa-trash"></i>
            </button>
            <button tooltip="Fechar Conta" class="btn btn-sm btn-warning">
              <i class="fas fa-money-bill-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!hospedes.length">
      <tr>
        <td colspan="12" class="text-center">
          <h4>Nenhum hospede encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
  </div>
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja fechar a conta?</p>
      <button type="button" class="btn btn-default">Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
  </ng-template>
</div>


