<div class="row" style="margin-bottom: 100px;">
  <div class="container">
    <div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
      <div class="d-flex align-items-center mr-auto">
        <i id="i" class="{{iconClass}} mr-3"></i>
        <div class="lh-100">
          <h2 class="mb-0">Nova Reserva</h2>
          <small>{{subtitulo}}</small>
        </div>
      </div>
      <div class="p-3">
        <button class="btn btn-outline-light" (click)="listar()">
          Retornar a Lista
        </button>
      </div>
    </div>
    <div class="card rounded shadow-sm">
      <form [formGroup]="form">
        <div class="p-3">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Hospede</label>
              <select type="text" class="form-control" [ngClass]="cssValidator(f.hospede)" formControlName="hospede">
                <option *ngFor="let hospede of hospedes" [value]="hospede.id">{{hospede.nome}}</option>
              </select>
              <div *ngIf="f.hospede.errors?.required" class="invalid-feedback">
                Hospede é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Apartamento: </label>
              <select type="text" class="form-control" [ngClass]="cssValidator(f.apartamento)" formControlName="apartamento">
                <option *ngFor="let apartamento of apartamento" [value]="apartamento.id">{{apartamento.numero}}</option>
              </select>
              <div *ngIf="f.apartamento.errors?.required" class="invalid-feedback">
                Apartamento é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Categoria Apartamento:  </label>
              <select class="form-control" formControlName="categoria" [ngClass]="cssValidator(f.categoria)">
                <option value="Duplo Deluxe" (click)="valorDiaria()">Duplo Deluxe</option>
                <option value="Individual Deluxe" (click)="valorDiaria()">Individual Deluxe</option>
                <option value="Suíte de Lua de Mel" (click)="valorDiaria()">Suíte de Lua de Mel</option>
                <option value="Econômico Duplo" (click)="valorDiaria()">Econômico Duplo</option>
                <option value="Suite Master" (click)="valorDiaria()">Suite Master</option>
                <option value="Suíte Núpsia" (click)="valorDiaria()">Suíte Núpsia</option>
                <option value="Suíte Super Luxo" (click)="valorDiaria()">Suíte Super Luxo</option>
                <option value="Suíte P.N.E" (click)="valorDiaria()">Suíte P.N.E</option>
              </select>
              <div *ngIf="f.categoria.errors?.required && f.categoria.touched" class="invalid-feedback">
                Categoria de Apartamento é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data Entrada</label>
              <input type="datetime" class="form-control" [(ngModel)]="dataEntrada" [ngClass]="cssValidator(f.dataEntrada)"
              bsDatepicker [bsConfig]="bsConfig" formControlName="dataEntrada"
              placeholder="" >
              <div *ngIf="f.dataEntrada.errors?.required && f.dataEntrada.touched" class="invalid-feedback">
                Data é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data Saída</label>
              <input type="datetime" class="form-control" [(ngModel)]="dataSaida" [ngClass]="cssValidator(f.dataSaida)"
              bsDatepicker [bsConfig]="bsConfig" formControlName="dataSaida"
              placeholder="" >
              <div *ngIf="f.dataSaida.errors?.required && f.dataSaida.touched" class="invalid-feedback">
                Data é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Quantidade Pessoas</label>
              <input type="number" class="form-control" [ngClass]="cssValidator(f.qtdPessoas)" formControlName="qtdPessoas" (click)="calculoValorTotal()"
              placeholder="">
              <div *ngIf="f.qtdPessoas.errors?.required && f.qtdPessoas.touched" class="invalid-feedback">
                Qtd Pessoas é obrigatório.
              </div>
              <div *ngIf="f.qtdPessoas.errors?.max && f.qtdPessoas.touched" class="invalid-feedback">
                Qtd Pessoas deve ser menor que 100.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Valor Diária</label>
              <input type="text" class="form-control" [value]="diaria" formControlName="valorDiaria" placeholder="" >
            </div>
            <div class="form-group col-md-4 valorTotal">
              <label><b>Valor Total</b></label>
              <div>{{ valorTotal }}</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
              Cancelar Alteração
            </button>
            <button class="btn btn-success" (click)="salvarReserva()">
              Salvar Reserva
            </button>
          </div>
        </div>
      </form>
      <!-- <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Dados Para Pagamento</h4>
          <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" class="p-1">
            <div class="form-row">
              <div class="form-group col-sm-6">
                <label>Data Pagamento</label>
                <input type="datetime" class="form-control" [ngClass]="cssValidator(f.dataPagamento)"
                bsDatepicker [bsConfig]="bsConfig" formControlName="dataPagamento"
                placeholder="" >
                <div *ngIf="f.dataPagamento.errors?.required && f.dataPagamento.touched" class="invalid-feedback">
                  Data é obrigatório.
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label>Forma de Pagamento:</label>
                <input type="text" class="form-control" formControlName="formaPagamento"
                  [ngClass]="{'is-invalid': f.formaPagamento.errors && f.formaPagamento.touched}"/>
                <div class="invalid-feedback">
                  Forma de Pagamento é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Status Pagamento</label>
                <select type="text" class="form-control" [ngClass]="cssValidator(f.statusPagamento)"
                formControlName="statusPagamento" placeholder="" >
                  <option value="Pago">Pago</option>
                  <option value="Processando">Processando</option>
                  <option value="Cancelado">Cancelado</option>
                  <option value="Aguardando Pagamento">Aguardando Pagamento</option>
                </select>
                <div *ngIf="f.statusPagamento.errors?.required && f.statusPagamento.touched" class="invalid-feedback">
                  Status Pagamento é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>Valor:</label>
                <input type="text" class="form-control" formControlName="valor" placeholder="" [ngClass]="cssValidator(f.valor)">
                <div *ngIf="f.valor.errors?.required && f.valor.touched" class="invalid-feedback">
                  Valor é obrigatório.
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <button class="btn btn-lg btn-danger btn-block px-5">
                  Cancelar
                </button>
              </div>
              <div class="form-group col-6">
                <button class="btn btn-lg btn-success btn-block px-5" (click)="salvarPagamento()">
                  Registrar Pagamento
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-template> -->
    </div>
  </div>
</div>
<br>


