<div class="row" style="margin-bottom: 100px;">
  <div class="container">
    <div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
      <div class="d-flex align-items-center mr-auto">
        <i id="i" class="{{iconClass}} mr-3"></i>
        <div class="lh-100">
          <h2 class="mb-0">Nova Reserva</h2>
          <small>{{subtitulo}}</small>
        </div>
      </div>
      <div class="p-3">
        <button class="btn btn-outline-light" (click)="listar()">
          Retornar ao Menu
        </button>
      </div>
    </div>
    <div class="card rounded shadow-sm">
      <form [formGroup]="form">
        <div class="p-3">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Hospede</label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.hospede)" formControlName="hospede"
              placeholder="" >
              <div *ngIf="f.hospede.errors?.required" class="invalid-feedback">
                Hospede é obrigatório.
              </div>
              <div *ngIf="f.hospede.errors?.minlength" class="invalid-feedback">
                Hospede deve ter no mínimo 4 caracteres.
              </div>
              <div *ngIf="f.hospede.errors?.maxlength" class="invalid-feedback">
                Hospede deve ter no máximo 50 caracteres.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Apartamento</label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.apartamento)"
              formControlName="apartamento" placeholder="" >
              <div *ngIf="f.apartamento.errors?.required && f.apartamento.touched" class="invalid-feedback">
                Apartamento é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data Entrada</label>
              <input type="datetime" class="form-control" [ngClass]="cssValidator(f.dataEntrada)"
              bsDatepicker [bsConfig]="bsConfig" formControlName="dataEntrada"
              placeholder="" >
              <div *ngIf="f.dataEntrada.errors?.required && f.dataEntrada.touched" class="invalid-feedback">
                Data é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data Saída</label>
              <input type="datetime" class="form-control" [ngClass]="cssValidator(f.dataSaida)"
              bsDatepicker [bsConfig]="bsConfig" formControlName="dataSaida"
              placeholder="" >
              <div *ngIf="f.dataSaida.errors?.required && f.dataSaida.touched" class="invalid-feedback">
                Data é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Quantidade Pessoas</label>
              <input type="number" class="form-control" [ngClass]="cssValidator(f.qtdPessoas)" formControlName="qtdPessoas"
              placeholder="">
              <div *ngIf="f.qtdPessoas.errors?.required && f.qtdPessoas.touched" class="invalid-feedback">
                Qtd Pessoas é obrigatório.
              </div>
              <div *ngIf="f.qtdPessoas.errors?.max && f.qtdPessoas.touched" class="invalid-feedback">
                Qtd Pessoas deve ser menor que 100.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Status Pagamento</label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.statusPagamento)"
              formControlName="statusPagamento" placeholder="" >
              <div *ngIf="f.statusPagamento.errors?.required && f.statusPagamento.touched" class="invalid-feedback">
                StatusPagamento é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Tipo de Quarto</label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.statusPagamento)"
              formControlName="statusPagamento" placeholder="" >
              <div *ngIf="f.statusPagamento.errors?.required && f.statusPagamento.touched" class="invalid-feedback">
                StatusPagamento é obrigatório.
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
              Cancelar Alteração
            </button>
            <button class="btn btn-success" [disabled]="!form.valid" >
              Salvar Hospede
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>


