<div class="row" style="margin-bottom: 100px;">
  <div class="container">
    <div class="d-flex p-3 my-3 text-white bg-secondary rounded shadow-sm">
      <div class="d-flex align-items-center mr-auto">
        <i id="i" class="{{iconClass}} mr-3"></i>
        <div class="lh-100">
          <h2 class="mb-0">Fornecedores</h2>
          <small>{{subtitulo}}</small>
        </div>
      </div>
      <div class="p-3">
        <button class="btn btn-outline-light" (click)="listar()">
          Lista Fornecedores
        </button>
      </div>
    </div>
    <div class="card rounded shadow-sm">
      <form [formGroup]="form">
        <div class="p-3">
          <div class="form-row">
            <div class="row">
              <div class="form-group col-md-4">
                <label>Razão Social: </label>
                <input type="text" class="form-control" formControlName="razaoSocial" placeholder="" [ngClass]="cssValidator(f.razaoSocial)">
                <div *ngIf="f.razaoSocial.errors?.required && f.razaoSocial.touched" class="invalid-feedback">
                  Razão Social é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>CNPJ: </label>
                <input type="text" class="form-control" formControlName="cnpj" placeholder="" [ngClass]="cssValidator(f.cnpj)">
                <div *ngIf="f.cnpj.errors?.required && f.cnpj.touched" class="invalid-feedback">
                  CNPJ é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Endereço: : </label>
                <input type="text" class="form-control" formControlName="endereco" placeholder="" [ngClass]="cssValidator(f.endereco)">
                <div *ngIf="f.endereco.errors?.required && f.endereco.touched" class="invalid-feedback">
                  Endereço é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Cidade: </label>
                <input type="text" class="form-control" formControlName="cidade" placeholder="" [ngClass]="cssValidator(f.cidade)">
                <div *ngIf="f.cidade.errors?.required && f.cidade.touched" class="invalid-feedback">
                  Cidade é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Estado: </label>
                <input type="text" class="form-control" formControlName="estado" placeholder="" [ngClass]="cssValidator(f.estado)">
                <div *ngIf="f.estado.errors?.required && f.estado.touched" class="invalid-feedback">
                  Estado é obrigatório.
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Inscrição Estadual: </label>
                <input type="text" class="form-control" formControlName="ie" placeholder="" [ngClass]="cssValidator(f.ie)">
                <div *ngIf="f.ie.errors?.required && f.ie.touched" class="invalid-feedback">
                  IE é obrigatório.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
              Cancelar Alteração
            </button>
            <button class="btn btn-success" [disabled]="!form.valid" >
              Salvar Fornecedor
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
